TurboCinema/obj/
TurboCinema/bin/
TurboCinema.Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_TurboCinema.Tests
TurboCinema.Tests/obj/Debug/net8.0/TurboCinema.Tests.AssemblyInfo.cs
TurboCinema.Tests/obj/Debug/net8.0/TurboCinema.Tests.AssemblyInfoInputs.cache
TurboCinema.Tests/obj/Debug/net8.0/TurboCinema.Tests.csproj.AssemblyReference.cache
TurboCinema.Tests/obj/Debug/net8.0/TurboCinema.Tests.GeneratedMSBuildEditorConfig.editorconfig
TurboCinema/obj/Debug/net8.0/TurboCinema.AssemblyInfo.cs
TurboCinema/obj/Debug/net8.0/TurboCinema.AssemblyInfoInputs.cache
TurboCinema/obj/Debug/net8.0/TurboCinema.AssemblyInfo.cs
TurboCinema/obj/Debug/net8.0/TurboCinema.AssemblyInfoInputs.cache
TurboCinema/obj/Debug/net8.0/TurboCinema.AssemblyInfo.cs
TurboCinema/obj/Debug/net8.0/TurboCinema.AssemblyInfoInputs.cache
TurboCinema.Tests/obj/Debug/net8.0/TurboCinema.Tests.csproj.AssemblyReference.cache
TurboCinema.Tests/obj/Debug/net8.0/TurboCinema.Tests.AssemblyInfoInputs.cache
TurboCinema.Tests/obj/Debug/net8.0/TurboCinema.Tests.AssemblyInfo.cs
TurboCinema/obj/Debug/net8.0/TurboCinema.AssemblyInfo.cs
TurboCinema/obj/Debug/net8.0/TurboCinema.AssemblyInfoInputs.cache
TurboCinema/obj/Debug/net8.0/TurboCinema.AssemblyInfo.cs
TurboCinema/obj/Debug/net8.0/TurboCinema.AssemblyInfoInputs.cache
TurboCinema/obj/Debug/net8.0/TurboCinema.AssemblyInfo.cs
TurboCinema/obj/Debug/net8.0/TurboCinema.AssemblyInfoInputs.cache
TurboCinema.Tests/obj/Debug/net8.0/TurboCinema.Tests.GeneratedMSBuildEditorConfig.editorconfig
TurboCinema.Tests/obj/Debug/net8.0/TurboCinema.Tests.csproj.AssemblyReference.cache
TurboCinema.Tests/obj/Debug/net8.0/TurboCinema.Tests.assets.cache
TurboCinema.Tests/obj/Debug/net8.0/TurboCinema.Tests.AssemblyInfoInputs.cache
TurboCinema.Tests/obj/Debug/net8.0/TurboCinema.Tests.AssemblyInfo.cs
TurboCinema.Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_TurboCinema.Tests
TurboCinema.Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_TurboCinema.Tests
TurboCinema.Tests/obj/Debug/net8.0/TurboCinema.Tests.AssemblyInfo.cs
TurboCinema.Tests/obj/Debug/net8.0/TurboCinema.Tests.AssemblyInfoInputs.cache
TurboCinema.Tests/obj/Debug/net8.0/TurboCinema.Tests.assets.cache
TurboCinema.Tests/obj/Debug/net8.0/TurboCinema.Tests.csproj.AssemblyReference.cache
TurboCinema.Tests/obj/Debug/net8.0/TurboCinema.Tests.GeneratedMSBuildEditorConfig.editorconfig
TurboCinema/obj/Debug/net8.0/TurboCinema.AssemblyInfo.cs
TurboCinema/obj/Debug/net8.0/TurboCinema.AssemblyInfoInputs.cache
TurboCinema/obj/Debug/net8.0/TurboCinema.AssemblyInfoInputs.cache
TurboCinema/obj/Debug/net8.0/TurboCinema.AssemblyInfo.cs
